// Place all the styles related to the Resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
th {
    color: white;
    font-size: 20px;
}

td {
    color: black;
    font-size: 18px;
    background-color: white;
}

body{
    color: white;
}

.alertingcollabs{
    color: red;
    font-weight: bold;
}